.ffioa { 
  border-bottom-width: 89px;
  border-right-width: 67px;
  line-height: 21px;
  padding-left: 46px;
  margin-bottom: 34px;
  border-right-width: 56px;
  padding-bottom: 38px;
  border-right-width: 56px;
  padding-left: 7px;
  line-height: 54px;
}
