.ffioa { 
  border-bottom-width: 89px;
  border-right-width: 67px;
  line-height: 21px;
  padding-left: 46px;
  margin-bottom: 34px;
  border-right-width: 56px;
  padding-bottom: 38px;
  border-right-width: 56px;
  padding-left: 7px;
  line-height: 16px;
  margin-top: 29px;
  font-size: 94px;
  margin-right: 69px;
  margin-right: 56px;
  border-top-width: 41px;
  border-left-width: 67px;
  padding-top: 87px;
  margin-bottom: 89px;
  border-left-width: 8px;
  border-left-width: 63px;
  font-size: 86px;
  padding-right: 26px;
  border-top-width: 21px;
  border-bottom-width: 88px;
  padding-left: 96px;
  padding-top: 90px;
  line-height: 67px;
  border-left-width: 4px;
  line-height: 31px;
  border-left-width: 66px;
  margin-top: 72px;
  margin-top: 32px;
  margin-top: 43px;
  margin-bottom: 11px;
  padding-right: 60px;
  border-top-width: 86px;
  margin-bottom: 14px;
  padding-bottom: 7px;
  padding-right: 12px;
  margin-bottom: 29px;
  font-size: 44px;
  margin-top: 74px;
  padding-bottom: 18px;
  border-left-width: 38px;
  margin-right: 11px;
  border-top-width: 76px;
  font-size: 16px;
  line-height: 51px;
  margin-top: 79px;
  margin-right: 14px;
  border-right-width: 60px;
  border-right-width: 98px;
  margin-right: 7px;
}
